.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: #001637;
  font-family: General Sans Variable, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

p {
  margin-bottom: 10px;
  line-height: 21px;
}

a {
  color: #001637;
  text-decoration: underline;
}

.hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  padding-top: 100px;
  display: block;
}

.team {
  border-top: 1px solid #b28f3e;
  border-bottom: 1px solid #b28f3e;
  border-radius: 0;
  margin-bottom: 64px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 64px;
  padding-right: 64px;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-block.flex {
  justify-content: space-between;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.body {
  background-color: #fff;
}

.hero-heading {
  color: #b28f3e;
  text-transform: uppercase;
  margin-top: 0;
  font-family: Universityromanbt Bold, sans-serif;
  font-size: 60px;
}

.accent {
  color: #b28f3e;
}

.button {
  background-color: #b28f3e;
  border-radius: 10px;
  padding: 16px 32px;
  font-weight: 600;
}

.button.outline {
  color: #001637;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #b28f3e;
}

.button.nav {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 12px 20px;
}

.button.herobutton {
  margin-bottom: 16px;
  margin-right: 40px;
  overflow: visible;
}

.heading1 {
  color: #001637;
  font-family: Universityromanbt Bold, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
}

.card {
  border-radius: 10px;
  padding: 32px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, .2);
}

.card.white {
  background-color: #fff;
}

.card.white.morepadding {
  padding: 48px;
}

.bold {
  font-weight: 700;
}

.bold.nav {
  color: #b28f3e;
  margin-right: 80px;
  font-weight: 600;
}

.small {
  font-size: 14px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
}

.form {
  background-image: url('../images/62bcb951f9b551ef460126e7_FC-BG-1.png');
  background-position: 0 0;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.heroparagraph {
  max-width: 40ch;
  color: #5c5c5c;
  margin-bottom: 32px;
  font-family: Martel Light, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.grid-4 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr;
}

.grid-5 {
  grid-column-gap: 44px;
  grid-row-gap: 44px;
  grid-template-rows: auto;
}

.grid-7 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.text-field {
  background-color: rgba(0, 22, 55, .05);
  border-radius: 10px;
  margin-bottom: 16px;
}

.text-field.big {
  padding-top: 16px;
  padding-bottom: 64px;
}

.checkbox-field {
  margin-bottom: 32px;
}

.herosubheading {
  color: #b28f3e;
  margin-bottom: 20px;
  font-family: Monsieurladoulaise Regular, sans-serif;
  font-weight: 400;
}

.image {
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}

.p-classic {
  color: #b28f3e;
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: Martel Light, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.image-2 {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: 20% 50%;
  border-radius: 50%;
}

.marquee-cover-horizontal {
  z-index: 10;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 70%, #fff), linear-gradient(270deg, #fff, rgba(255, 255, 255, 0) 30%);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.col {
  width: 100%;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.col.small {
  width: 41%;
  flex: none;
}

.icon-2 {
  width: 65%;
}

.icon-container-alt {
  width: 250px;
  height: 150px;
  border: 1px solid #b28f3e;
  border-radius: 8px;
  flex: none;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  box-shadow: 0 7px 15px 3px rgba(175, 177, 179, .3);
}

.flex-vertical {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-vertical.marquee-fix {
  margin-top: 30px;
}

.header-quaternary {
  max-width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
}

.header-quaternary.grey-text.uppercase {
  padding: 2px 4px;
}

.flex-horizontal {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-horizontal.flex-left {
  justify-content: flex-start;
}

.marquee-horizontal-large {
  z-index: 200;
  width: 100%;
  height: 180px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.track-horizontal-alt {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.spacer-60 {
  width: 100%;
  height: 60px;
}

.spacer-60._60-width {
  width: 60px;
}

.spacer-30 {
  width: 100%;
  height: 30px;
}

.spacer-30._15-xsvp {
  width: 30px;
  flex: none;
}

.track-vertical-alt {
  width: 100%;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.icon-container {
  width: 85%;
  height: 15vw;
  border: 1px solid #b28f3e;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 7px 15px 3px rgba(175, 177, 179, .3);
}

.spacer-100 {
  width: 100%;
  height: 100px;
  object-position: 0% 0%;
}

.marquee {
  width: 100%;
  height: 600px;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
  overflow: hidden;
}

.marquee-cover {
  z-index: 10;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 70%, #fff), linear-gradient(#fff, rgba(255, 255, 255, 0) 30%);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.track-vertical {
  width: 100%;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.brands {
  margin-top: 40px;
}

.title-small-2 {
  color: #b28f3e;
  letter-spacing: 1px;
  -webkit-text-stroke-color: #fff;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link-2 {
  color: #1a1b1f;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
}

.footer-link-2:hover {
  color: rgba(26, 27, 31, .75);
}

.div-block-17 {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}

.footer-dark-2 {
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.text-block-3 {
  color: #000;
  margin-bottom: 10px;
  line-height: 16px;
}

.text-block-3.distance {
  margin-bottom: 10px;
}

.footer-dark-3 {
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.div-block-18 {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}

.section {
  margin-top: 60px;
  padding-bottom: 500px;
}

.html-embed {
  width: 100%;
  height: 100%;
  flex: none;
}

.image-3 {
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}

.bottom-margin {
  margin-bottom: 24px;
}

.div-block-19 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .button.herobutton {
    margin-bottom: 16px;
  }

  .card.white._100 {
    width: 100%;
  }

  .bold.nav.mobile {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-5 {
    grid-template-columns: 1fr;
  }

  .grid-7 {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
  }

  .icon-container {
    height: 20vw;
  }

  .icon-nav {
    color: #b28f3e;
  }

  .nav-menu {
    background-color: #f7f7f7;
  }

  .menu-button, .menu-button.w--open {
    background-color: #fff;
  }

  .container-3, .container-4 {
    max-width: 728px;
  }

  .html-embed {
    width: 100%;
    height: 500px;
    max-height: 500px;
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 10px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .grid-4 {
    grid-template-columns: 1fr;
  }

  .grid-5 {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .image-2 {
    width: 350px;
    height: 350px;
  }

  .marquee-cover-horizontal {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 70%, #fff), linear-gradient(#fff, rgba(255, 255, 255, 0) 30%);
  }

  .col {
    align-items: center;
  }

  .col.small {
    width: 100%;
    align-items: flex-start;
  }

  .flex-horizontal.flip-svp {
    flex-direction: column;
  }

  .flex-horizontal.flex-left.flip-svp {
    align-items: flex-start;
  }

  .spacer-60 {
    height: 40px;
  }

  .icon-container {
    height: 25vw;
  }

  .marquee {
    height: 70vw;
  }

  .marquee-cover {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 70%, #fff), linear-gradient(#fff, rgba(255, 255, 255, 0) 30%);
  }

  .track-vertical {
    align-items: center;
  }

  .div-block {
    justify-content: center;
    display: flex;
  }

  .footer-link-2 {
    text-align: center;
  }

  .footer-link-2:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-dark-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .text-block-3 {
    text-align: center;
  }

  .footer-dark-3 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
    justify-content: center;
  }

  .hero-heading {
    font-size: 42px;
  }

  .button.herobutton {
    margin-bottom: 16px;
  }

  .card.white._100 {
    padding: 0;
  }

  .image-2 {
    width: 200px;
    height: 200px;
  }

  .icon-container-alt {
    width: 200px;
    height: 100px;
  }

  .flex-vertical.marquee-fix {
    margin-top: 15px;
  }

  .marquee-horizontal-large {
    height: 130px;
  }

  .spacer-30._15-xsvp {
    height: 15px;
  }

  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-small-2 {
    color: #b28f3e;
  }

  .container-3, .container-4 {
    max-width: none;
  }

  .html-embed {
    max-height: 300px;
  }
}

#w-node-d04a2a62-120e-5e94-f8fa-d7630dd26640-402fe62c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f06dec5d-a100-e121-d1fc-91df24cb3620-402fe62c {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_5f8b2470-1543-b2b9-985a-ac32857d61cc-857d61c8, #w-node-_5f8b2470-1543-b2b9-985a-ac32857d61d6-857d61c8, #w-node-_5f8b2470-1543-b2b9-985a-ac32857d61df-857d61c8, #w-node-b253661c-d0c7-c5e7-39a2-9214dc61b6d3-402fe62d, #w-node-b253661c-d0c7-c5e7-39a2-9214dc61b6dd-402fe62d, #w-node-b253661c-d0c7-c5e7-39a2-9214dc61b6e6-402fe62d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-f06dec5d-a100-e121-d1fc-91df24cb3620-402fe62c {
    justify-self: center;
  }
}


@font-face {
  font-family: 'Martel';
  src: url('../fonts/Martel.zip') format('undefined');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'General Sans Variable';
  src: url('../fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monsieurladoulaise Regular';
  src: url('../fonts/MonsieurLaDoulaise-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Martel Light';
  src: url('../fonts/Martel-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universityromanbt Bold';
  src: url('../fonts/UniversityRomanBT-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}