:root {
  --secondary: #001637;
  --primary: #b28f3e;
  --gray: #5c5c5c;
  --gold-transparant: #b28f3e40;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: var(--secondary);
  font-family: General Sans Variable, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

p {
  margin-bottom: 10px;
  line-height: 21px;
}

a {
  color: var(--secondary);
  text-decoration: underline;
}

.hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  padding-top: 100px;
  display: block;
}

.team {
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  border-radius: 0;
  margin-bottom: 64px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 64px;
  padding-right: 64px;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-block.flex {
  justify-content: space-between;
}

.footer-divider {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.body {
  background-color: #fff;
}

.hero-heading {
  color: var(--primary);
  text-transform: uppercase;
  margin-top: 0;
  font-family: Universityromanbt Bold, sans-serif;
  font-size: 60px;
}

.button {
  background-color: var(--primary);
  border-radius: 10px;
  padding: 16px 32px;
  font-weight: 600;
}

.button.outline {
  border: 2px solid var(--primary);
  color: var(--secondary);
  background-color: #0000;
}

.button.nav {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 12px 20px;
}

.button.herobutton {
  margin-bottom: 16px;
  margin-right: 40px;
  overflow: visible;
}

.heading1 {
  color: var(--secondary);
  font-family: Universityromanbt Bold, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
}

.heading1.nav {
  float: left;
  color: var(--primary);
  font-family: Monsieurladoulaise Regular, sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.heading1.b-m {
  margin-bottom: 16px;
}

.card {
  border-radius: 10px;
  padding: 32px;
  box-shadow: 1px 1px 15px #0003;
}

.card.white {
  background-color: #fff;
}

.card._500 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: repeat(auto-fit, minmax(70%, 63%));
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  height: auto;
  max-height: 650px;
  display: flex;
}

.card._500.old {
  opacity: .5;
}

.bold {
  font-weight: 700;
}

.bold.nav {
  color: var(--primary);
  margin-right: 80px;
  font-weight: 600;
}

.bold.nav.mobile {
  color: var(--secondary);
  margin-right: 20px;
}

.bold.nav.mobile.w--current {
  color: var(--primary);
}

.small {
  font-size: 14px;
}

.navbar {
  z-index: 1;
  background-color: #0000;
}

.heroparagraph {
  color: var(--gray);
  max-width: 40ch;
  margin-bottom: 32px;
  font-family: Martel Light, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.grid-4 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr;
}

.grid-5 {
  grid-column-gap: 44px;
  grid-row-gap: 44px;
  grid-template-rows: auto;
}

.grid-7 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

.text-field {
  background-color: #0016370d;
  border-radius: 10px;
  margin-bottom: 16px;
}

.text-field.big {
  padding-top: 16px;
  padding-bottom: 64px;
}

.checkbox-field {
  margin-bottom: 32px;
}

.image {
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}

.p-classic {
  color: var(--primary);
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: Martel Light, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.image-2 {
  object-fit: cover;
  object-position: 20% 50%;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.marquee-cover-horizontal {
  z-index: 10;
  background-image: linear-gradient(270deg, #fff0 70%, #fff), linear-gradient(270deg, #fff, #fff0 30%);
  position: absolute;
  inset: 0%;
}

.col {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.col.small {
  flex: none;
  width: 41%;
}

.icon-2 {
  width: 65%;
}

.icon-container-alt {
  border: 1px solid var(--primary);
  border-radius: 8px;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 150px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  box-shadow: 0 7px 15px 3px #afb1b34d;
}

.flex-vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.flex-vertical.marquee-fix {
  margin-top: 30px;
}

.header-quaternary {
  letter-spacing: 1px;
  max-width: 100%;
  font-size: 14px;
}

.header-quaternary.grey-text.uppercase {
  margin-bottom: 0;
  padding: 2px 4px 0;
}

.flex-horizontal {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.flex-horizontal.flex-left {
  justify-content: flex-start;
}

.marquee-horizontal-large {
  z-index: 200;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 180px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.track-horizontal-alt {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.spacer-60 {
  width: 100%;
  height: 60px;
}

.spacer-60._60-width {
  width: 60px;
}

.spacer-30 {
  width: 100%;
  height: 30px;
}

.spacer-30._15-xsvp {
  flex: none;
  width: 30px;
}

.track-vertical-alt {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.icon-container {
  border: 1px solid var(--primary);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 200px;
  height: 15vw;
  max-height: 250px;
  display: flex;
  box-shadow: 0 7px 15px 3px #afb1b34d;
}

.spacer-100 {
  object-position: 0% 0%;
  width: 100%;
  height: 100px;
}

.marquee {
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.marquee-cover {
  z-index: 10;
  background-image: linear-gradient(#fff0 70%, #fff), linear-gradient(#fff, #fff0 30%);
  position: absolute;
  inset: 0%;
}

.track-vertical {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.brands {
  margin-top: 40px;
}

.title-small-2 {
  color: var(--primary);
  letter-spacing: 1px;
  -webkit-text-stroke-color: #fff;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link-2 {
  color: #1a1b1f;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
}

.footer-link-2:hover {
  color: #1a1b1fbf;
}

.div-block-17 {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  display: flex;
}

.footer-dark-2 {
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.text-block-3 {
  color: #000;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
}

.section {
  margin-top: 60px;
  padding-bottom: 0;
}

.bottom-margin {
  margin-bottom: 24px;
}

.bottom-margin.mw {
  width: 50%;
}

.heading-2 {
  color: var(--primary);
  font-size: 20px;
}

.heading-2.no {
  margin-top: 0;
}

.link-2 {
  text-decoration: underline;
}

.paragraph-8 {
  font-size: 12px;
}

.navbrand {
  color: var(--primary);
  font-size: 24px;
  text-decoration: none;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.heading-4 {
  color: var(--primary);
}

._404img {
  margin-bottom: 40px;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.slide {
  filter: saturate(89%);
  background-image: url('../images/2023DSC06600.webp');
  background-position: 0 0;
  background-size: cover;
}

.slider {
  background-color: #fff;
  min-height: 500px;
}

.slide-2 {
  background-image: url('../images/2023DSC06614.webp');
  background-position: 0 0;
  background-size: cover;
}

.mask {
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}

.slide-3 {
  background-image: url('../images/2023DSC06422.webp');
  background-position: 50% 40%;
  background-size: cover;
}

.slide-4 {
  background-image: url('../images/2023DSC06501.webp');
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
}

.service-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.m-b {
  margin-bottom: 10px;
}

.m-b._2, .impressionen {
  margin-bottom: 20px;
}

.impress_image {
  background-image: url('../images/2023DSC06494.webp');
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
  width: 100%;
  height: 500px;
}

.impress_image._8 {
  background-image: url('../images/2023DSC06532.webp');
}

.impress_image._2 {
  background-image: url('../images/2023DSC06422.webp');
}

.impress_image._3 {
  background-image: url('../images/2023DSC06522.webp');
}

.impress_image._7 {
  background-image: url('../images/2023DSC06580.webp');
  background-position: 50% 44%;
  background-size: cover;
}

.impress_image._5 {
  background-image: url('../images/2023DSC06453.jpg');
}

.impress_image._6 {
  background-image: url('../images/2023DSC06618.webp');
  background-position: 50% 20%;
  background-size: cover;
}

.impress_image._4 {
  background-image: url('../images/2023DSC06488.webp');
}

.impress_image._9 {
  background-image: url('../images/2023DSC06556.webp');
}

.impress_image._10 {
  background-image: url('../images/2023DSC06539.webp');
}

.impress_image._11 {
  background-image: url('../images/2023DSC06567.webp');
}

.impress_image._12 {
  background-image: url('../images/2023DSC06614.webp');
}

.grid-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-radius: 0;
}

.image-wrapper {
  background-image: url('../images/14479823_688158604691497_1701581243282916410_n.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
  flex-direction: column;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-wrapper.chapter {
  background-image: url('../images/WhatsApp-Image-2023-12-31-at-11.45.38.jpeg');
}

.image-wrapper.christmas {
  background-image: url('../images/8381555-1-1_page-0001.jpg');
}

.image-wrapper.night {
  background-image: url('../images/Lange-Nacht2023Plakat.pdf_0.webp');
}

.image-wrapper.valentine {
  background-image: url('../images/LovelyDays_08073-0405081-02-2-2.png');
}

.image-wrapper.new-color {
  background-image: url('../images/IMG_1336.jpg');
}

.m-w {
  max-width: 60ch;
  max-height: 250px;
  margin-bottom: 32px;
  line-height: 25px;
  overflow: scroll;
}

.image-5 {
  object-fit: contain;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.grid-9 {
  grid-column-gap: 17px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.link-block {
  width: 100%;
  height: 100%;
}

.hero-span {
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Monsieurladoulaise Regular, sans-serif;
  font-size: 50px;
  font-weight: 400;
  display: inline-block;
}

.div-block-24 {
  display: flex;
}

.w50 {
  width: 50%;
}

.lh {
  line-height: 25px;
}

.lh.dw {
  display: block;
}

.heading3 {
  color: var(--secondary);
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  font-family: Universityromanbt Bold, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.embed-wrapper {
  height: 430px;
  position: relative;
}

.html-embed-5 {
  width: 100%;
  height: 100%;
}

.map-image {
  background-image: url('../images/map.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.fs-cc-banner_buttons-wrapper {
  flex-direction: row;
  flex: none;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.fs-cc-banner_container {
  align-items: center;
  width: 100%;
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.fs-cc-manager_component {
  z-index: 999;
  display: none;
  position: fixed;
  inset: auto auto 1.25rem 1.25rem;
}

.fs-cc-prefs_checkbox {
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  inset: 0%;
}

.fs-cc-banner_close-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.fs-cc-prefs_trigger {
  display: none;
}

.fs-cc-prefs_close {
  z-index: 10;
  color: #333;
  cursor: pointer;
  background-color: #f5f6ff;
  border-radius: 100%;
  padding: .625rem;
  font-size: 1.25rem;
  text-decoration: none;
  position: absolute;
  inset: -.75rem -.75rem auto auto;
  box-shadow: -1px 1px 12px #3333331a;
}

.fs-cc-prefs_option {
  border-bottom: 1px solid #33333326;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fs-cc-prefs_space-small {
  margin-bottom: .75rem;
}

.fs-cc-manager_trigger {
  display: none;
}

.fs-cc-prefs_title {
  color: var(--secondary);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2em;
}

.fs-cc-prefs_checkbox-label {
  display: none;
}

.fs-cc-prefs_text {
  color: var(--secondary);
  font-size: .75rem;
}

.fs-cc-prefs_buttons-wrapper {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-right: -.5rem;
  display: flex;
}

.fs-cc-prefs_space-medium {
  margin-bottom: 2.5rem;
}

.fs-cc-prefs_checkbox-field {
  background-color: #ccc;
  border-radius: 999rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 2.75rem;
  height: 1.5rem;
  margin-bottom: 0;
  padding: .125rem;
  display: flex;
  position: relative;
}

.fs-cc-prefs_content {
  height: 100%;
  padding: 2.5rem 2rem;
  overflow: scroll;
}

.fs-cc-banner_text-link {
  border-bottom: 2px solid var(--secondary);
  color: var(--secondary);
  font-weight: 400;
  text-decoration: none;
}

.fs-cc-prefs_form {
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  max-width: 36rem;
  height: 100%;
  max-height: 70vh;
  margin-bottom: 0;
  position: relative;
}

.fs-cc-prefs_close-icon {
  color: var(--secondary);
  width: 1rem;
  height: 1rem;
}

.fs-cc-banner_close {
  opacity: 1;
  cursor: pointer;
  background-color: #fff;
  border-radius: 999rem;
  margin-left: .75rem;
  padding: .625rem;
  box-shadow: 1px 1px 12px #0000001a;
}

.fs-cc-prefs_overlay {
  z-index: -1;
  background-color: #03052499;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.fs-cc-manager_icon {
  color: var(--secondary);
  width: 2rem;
  height: 2rem;
  transition: color .2s;
}

.fs-cc-manager_icon:hover {
  color: var(--primary);
}

.fs-cc-banner_text {
  color: var(--secondary);
  margin-right: 1.5rem;
}

.fs-cc-banner_trigger {
  display: none;
}

.fs-cc-manager_button {
  color: #333;
  cursor: pointer;
  background-color: #fff;
  border-radius: 999rem;
  flex-direction: column;
  padding: .625rem;
  transition: color .2s;
  display: flex;
}

.fs-cc-manager_button:hover {
  color: #4353ff;
}

.fs-cc-prefs_component {
  z-index: 997;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding: 2rem;
  display: none;
  position: fixed;
  inset: 0%;
}

.fs-cc-prefs_label {
  color: var(--primary);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

.fs-cc-prefs_button {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  border-radius: 10px;
  margin-right: .5rem;
  padding: .625rem 1.5rem;
  font-size: .875rem;
  font-weight: 700;
}

.fs-cc-prefs_button.fs-cc-button-alt {
  border-color: var(--primary);
  color: var(--primary);
  background-color: #fff;
}

.fs-cc-banner_button {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  min-width: 8.75rem;
  margin-left: 1rem;
  padding: .625rem 1.25rem;
  font-size: 1rem;
}

.fs-cc-banner_button.fs-cc-button-alt {
  border-color: var(--primary);
  color: var(--primary);
  background-color: #f5f5f5;
}

.fs-cc-banner_component {
  z-index: 998;
  background-color: #f5f6ff;
  border-top: 1px solid #4353ff29;
  padding: 1.5rem 2rem;
  display: none;
  position: fixed;
  inset: auto 0% 0%;
}

.fs-cc-prefs_toggle-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  display: flex;
}

.fs-cc-prefs_submit-hide {
  display: none;
}

.fs-cc-prefs_toggle {
  background-color: #fff;
  border-radius: 999px;
  width: 1.25rem;
  height: 1.25rem;
}

.bold-text {
  color: var(--primary);
}

@media screen and (max-width: 991px) {
  .hero {
    padding-top: 0;
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .button.herobutton {
    margin-bottom: 16px;
  }

  .card {
    min-height: 200px;
  }

  .card.white._100 {
    width: 100%;
  }

  .bold.nav.mobile {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-4, .grid-5 {
    grid-template-columns: 1fr;
  }

  .grid-7 {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
  }

  .image {
    float: right;
    max-height: 400px;
  }

  .image-2 {
    width: 350px;
    height: 350px;
  }

  .icon-container {
    height: 20vw;
  }

  .icon-nav {
    color: var(--primary);
  }

  .nav-menu {
    background-color: #f7f7f7;
  }

  .menu-button, .menu-button.w--open {
    background-color: #fff;
  }

  .div-block {
    justify-content: center;
    display: flex;
  }

  .container-3 {
    max-width: 728px;
  }

  .mask {
    border-radius: 20px;
  }

  .service-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-3 {
    grid-template-columns: minmax(200px, .75fr);
    justify-content: center;
    justify-items: center;
  }

  .grid-9 {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .fs-cc-banner_buttons-wrapper {
    margin-top: 1rem;
  }

  .fs-cc-banner_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .fs-cc-banner_text {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 10px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .card._500 {
    min-height: 500px;
  }

  .grid-4 {
    grid-template-columns: 1fr;
  }

  .grid-5 {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .image-2 {
    width: 350px;
    height: 350px;
  }

  .marquee-cover-horizontal {
    background-image: linear-gradient(#fff0 70%, #fff), linear-gradient(#fff, #fff0 30%);
  }

  .col {
    align-items: center;
  }

  .col.small {
    align-items: flex-start;
    width: 100%;
  }

  .flex-horizontal.flip-svp {
    flex-direction: column;
  }

  .flex-horizontal.flex-left.flip-svp {
    align-items: flex-start;
  }

  .spacer-60 {
    height: 40px;
  }

  .icon-container {
    height: 25vw;
  }

  .marquee {
    height: 70vw;
  }

  .marquee-cover {
    background-image: linear-gradient(#fff0 70%, #fff), linear-gradient(#fff, #fff0 30%);
  }

  .track-vertical {
    align-items: center;
  }

  .div-block {
    justify-content: center;
    display: flex;
  }

  .footer-link-2 {
    text-align: center;
  }

  .footer-link-2:hover {
    color: #1a1b1fbf;
  }

  .footer-dark-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .text-block-3 {
    text-align: center;
  }

  .bottom-margin.mw {
    width: 100%;
  }

  .service-grid {
    grid-template-columns: 1fr 1fr;
  }

  .grid-3 {
    grid-template-columns: 100%;
    justify-content: center;
  }

  .grid-9 {
    grid-template-columns: 1fr;
  }

  .fs-cc-banner_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .fs-cc-prefs_title {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .container {
    justify-content: center;
  }

  .hero-heading {
    font-size: 42px;
  }

  .button.herobutton {
    margin-bottom: 16px;
  }

  .card {
    min-height: 150px;
  }

  .card.white._100 {
    padding: 0;
  }

  .card._500 {
    height: auto;
    max-height: 750px;
  }

  .image-2 {
    width: 200px;
    height: 200px;
  }

  .icon-container-alt {
    width: 200px;
    height: 100px;
  }

  .flex-vertical.marquee-fix {
    margin-top: 15px;
  }

  .marquee-horizontal-large {
    height: 130px;
  }

  .spacer-30._15-xsvp {
    height: 15px;
  }

  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-small-2 {
    color: var(--primary);
  }

  .container-3 {
    max-width: none;
  }

  .service-grid {
    grid-template-columns: 1fr;
  }

  .impress_image {
    height: 200px;
  }

  .grid-3 {
    grid-template-columns: 100%;
  }

  .image-wrapper.valentine {
    height: 20vh;
  }

  .hero-span {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 38px;
  }

  .w50 {
    width: 100%;
  }

  .fs-cc-banner_buttons-wrapper {
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .fs-cc-prefs_content {
    padding: 1.5rem;
  }

  .fs-cc-banner_close {
    position: absolute;
    inset: -1.5rem .75rem auto auto;
  }

  .fs-cc-prefs_component {
    padding: 1.5rem;
  }

  .fs-cc-prefs_button {
    margin-bottom: .5rem;
  }

  .fs-cc-banner_button {
    width: 100%;
    margin-bottom: .5rem;
    margin-left: 0;
  }
}

#w-node-f88d868f-ad7a-6848-41c1-2cb252b17eae-402fe62c, #w-node-cce9cdda-a22d-f817-b019-0f9142125f8b-402fe62c, #w-node-_429c0c71-8f1b-5507-7fc0-5c374cf50d75-402fe62c, #w-node-_0da1f153-d319-4cee-1130-83adb99498cf-402fe62c, #w-node-e1611de5-14e1-79a7-c259-29027c62c8e0-402fe62c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f06dec5d-a100-e121-d1fc-91df24cb3620-402fe62c {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_53a3fdb7-7e7b-6951-2450-401754d288fc-402fe62c, #w-node-_53a3fdb7-7e7b-6951-2450-401754d288fd-402fe62c, #w-node-_53a3fdb7-7e7b-6951-2450-401754d288fe-402fe62c, #w-node-_53a3fdb7-7e7b-6951-2450-401754d288ff-402fe62c, #w-node-_53a3fdb7-7e7b-6951-2450-401754d28900-402fe62c, #w-node-_53a3fdb7-7e7b-6951-2450-401754d28901-402fe62c, #w-node-_53a3fdb7-7e7b-6951-2450-401754d28903-402fe62c, #w-node-_53a3fdb7-7e7b-6951-2450-401754d28902-402fe62c, #w-node-_40229672-242c-7456-0439-7b7afac3abc0-402fe62c, #w-node-_930845ad-509d-9c48-fc9e-f06f8f86740c-402fe62c, #w-node-_25634766-f60a-77d5-74d1-5df4ae94c009-402fe62c, #w-node-eafbeaf7-1092-5f45-e93f-5e92a6a1b8dd-402fe62c, #w-node-_5f8b2470-1543-b2b9-985a-ac32857d61cc-857d61c8, #w-node-_5f8b2470-1543-b2b9-985a-ac32857d61d6-857d61c8, #w-node-_5f8b2470-1543-b2b9-985a-ac32857d61df-857d61c8, #w-node-_3e70210a-0c65-58ef-7b13-2c5c19156aee-402fe62d, #w-node-_3e70210a-0c65-58ef-7b13-2c5c19156aef-402fe62d, #w-node-_8b5d202c-5d2a-5437-71d3-881a59203320-402fe62d, #w-node-_8b5d202c-5d2a-5437-71d3-881a59203321-402fe62d, #w-node-_20d73a61-139e-a45d-af4b-d073caf18cb6-402fe62d, #w-node-c92519d0-78c2-905b-ad01-93d621c130e1-402fe62d, #w-node-_3a0ea0f1-2a61-598e-caf7-094c1b35a44d-402fe62d, #w-node-_3a0ea0f1-2a61-598e-caf7-094c1b35a44e-402fe62d, #w-node-a6e47632-97e4-d34b-c5bc-8b374d8e88b4-402fe62d, #w-node-a6e47632-97e4-d34b-c5bc-8b374d8e88b5-402fe62d, #w-node-_418bdae0-f9f0-01da-e9f5-89efd693692e-402fe62d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-f06dec5d-a100-e121-d1fc-91df24cb3620-402fe62c {
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_53a3fdb7-7e7b-6951-2450-401754d288fc-402fe62c {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Martel';
  src: url('../fonts/Martel.zip') format('undefined');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'General Sans Variable';
  src: url('../fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monsieurladoulaise Regular';
  src: url('../fonts/MonsieurLaDoulaise-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Martel Light';
  src: url('../fonts/Martel-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Universityromanbt Bold';
  src: url('../fonts/UniversityRomanBT-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}